/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Mais um andar abaixo*/

a:hover {
  font-size: 1.1rem;
}

#resetador:hover {
  width: 13vw;
}

#removedor:hover {
  width: 16vw;
}

#resetador {
  transition: 200ms;
  width: 10vw;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem rgb(27, 27, 49);
}

#removedor {
  transition: 200ms;
  width: 13vw;
  border-radius: 1rem;
  box-shadow: 0.4rem 0.4rem rgb(27, 27, 49);
}

.resets {
  display: flex;
  width: 38vw;
  justify-content: space-between;
  position: absolute;
  top: 60%;
}

button:hover {
  background-color: rgb(84, 143, 84);
  color: black;
  cursor: pointer;
}

.num {
  background-color: rgb(148, 240, 148);
  color: green;
  width: 3rem;
  height: 3rem;
  margin: 0.1rem;
  border: 2px solid rgb(38, 37, 37);
  border-radius: 0.5rem;
  font-weight: 700;
}

#bot p {
  display: flex;
  align-items: center;
  justify-content: center;
}

#resultado {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

textarea {
  background-color: rgb(168, 247, 168);
  height: 3.2rem;
  width: 85%;
  border: 2px solid rgb(38, 37, 37);
  border-radius: 0.5rem;
  font-weight: 700;
  font-size: 1.5rem;
  color: green;
  padding: 0.5rem;
  box-shadow: 0.3rem 0.3rem rgb(27, 27, 49);
}

/* Um andar abaixo*/

section {
  background-color: white;
  width: 70vw;
  max-width: 500px;
  padding: 1rem;
  height: fit-content;
  border-radius: 0.5rem;
  box-shadow: 10px 10px salmon;
}

a {
  text-decoration: none;
  color: black;
  transition: 200ms;
}

h1 {
  color: salmon;
}

/* Três blocos principais*/

header {
  background-color: rgb(27, 27, 49);
  height: 10vh;
  align-items: center;
  justify-content: center;
}

main {
  background-color: rgb(34, 94, 118);
  height: 85vh;
  padding: 2rem 1rem 1rem 1rem;
}

footer {
  background-color: salmon;
  height: 5vh;
  align-items: center;
}

main,
header,
footer {
  display: flex;
  justify-content: center;
}
